<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vk - all users</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="base-container base-container-with-info">
    <!-- Header -->
    <div class="left-header header-color"></div>
    <div class="nav-header header-color ">Header</div>
    <header class="header header-color ">Main Header</header>
    <div class="right-header header-color"></div>

    <!-- Site navigation -->
    <nav class="nav">
        <ul>
            <a href="profile.html">
                <li>Your profile</li>
            </a>
            <a href="news.html">
                <li>News</li>
            </a>
            <a href="all_users.html">
                <li>All users</li>
            </a>
        </ul>
    </nav>

    <!-- Profile news -->
    <main class="main">
        <div class="news-container">
            <div class="info">
                <div class="info-header">
                    <img src="../static/face.jpg">
                    <div class="info-header-text">
                        <div class="name">Шишкин Евгений</div>
                        <div class="text-info">
                            <ul>
                                <li>Родился 04.07.96</li>
                                <li>21 подписка</li>
                                <li>21 подписчик</li>
                            </ul>
                        </div>
                        <form>
                            <input type="button" value="Подписаться">
                        </form>
                    </div>
                </div>
                <p>
                    Очень много слов о себе
                </p>
            </div>

            <div class="info">
                <div class="info-header">
                    <img src="../static/face.jpg">
                    <div class="info-header-text">
                        <div class="name">Холопов Игорь</div>
                        <div class="text-info">
                            <ul>
                                <li>Родился в 96</li>
                                <li>21 подписка</li>
                                <li>21 подписчик</li>
                            </ul>
                        </div>
                        <form>
                            <input type="button" value="Подписаться">
                        </form>
                    </div>
                </div>
                <p>
                    Не очень много слов о себе
                </p>
            </div>

            <div class="info">
                <div class="info-header">
                    <img src="../static/face.jpg">
                    <div class="info-header-text">
                        <div class="name">Боймель Александр</div>
                        <div class="text-info">
                            <ul>
                                <li>Родился 26.08.96</li>
                                <li>21 подписка</li>
                                <li>21 подписчик</li>
                            </ul>
                        </div>
                        <form>
                            <input type="button" value="Подписаться">
                        </form>
                    </div>
                </div>
                <p>
                    Совсем немного слов о себе
                </p>
            </div>

        </div>
    </main>

</div>

</body>
</html>