<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vk - all users</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="base-container base-container-with-info">
    <!-- Header -->
    <div class="left-header header-color"></div>
    <div class="nav-header header-color ">Header</div>
    <header class="header header-color ">Main Header</header>
    <div class="right-header header-color"></div>

    <!-- Site navigation -->
    <nav class="nav">
        <ul>
            <a href="profile.html">
                <li>Your profile</li>
            </a>
            <a href="news.html">
                <li>News</li>
            </a>
            <a href="all_users.html">
                <li>All users</li>
            </a>
        </ul>
    </nav>

    <!-- Profile news -->
    <main class="main">
        <div class="news-container">
            <form class="form">
                <label for="text">Text</label>
                <textarea id="text" rows="10"> </textarea>

                <label for="image">Image</label>
                <input type="file" id="image">

                <input type="submit" value="Post">

            </form>
        </div>
    </main>

</div>

</body>
</html>