<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vk - news</title>
    <link rel="stylesheet" href="../src/style.css">
</head>
<body>
<div class="base-container">
    <!-- Header -->
    <div class="left-header header-color"></div>
    <div class="nav-header header-color ">Header</div>
    <header class="header header-color ">Main Header</header>
    <div class="right-header header-color"></div>

    <!-- Site navigation -->
    <nav class="nav">
        <ul>
            <a href="profile.html">
                <li>Your profile</li>
            </a>
            <a href="news.html">
                <li>News</li>
            </a>
            <a href="all_users.html">
                <li>All users</li>
            </a>
        </ul>
    </nav>

    <!-- News -->
    <main class="main">
        <div class="news-container">
            <div class="news">
                <div class="news-header">
                    <img src="../static/face.jpg">
                    <span>Очень выжный и занимательный заголовок</span>
                </div>
                <p>
                    Решение ряда СМИ о бойкоте освещения деятельности Госдумы - это их компетенция и их право, также
                    заявил спикер нижней палаты Вячеслав Володин. "Для меня неправильно оценивать решение редакций и
                    издательств. Это их компетенция... это их право", - сказал он (цитата по ТАСС). Депутат добавил, что
                    Госдума - самый открытый орган власти, в стенах которого аккредитован 1001 журналист.
                </p>
                <p>
                    "Мы открыты для диалога и взаимодействия", - отметил спикер. "Мы строим свою работу на принципах
                    открытости, гласности. Вы видите, что мы можем с вами в постоянном режиме обсуждать все вопросы", -
                    добавил он, подчеркнув, что с уважением относится к праву редакций, которые определяют, кому
                    работать в Госдуме.
                </p>
            </div>

            <div class="news">
                <div class="news-header">
                    <img src="../static/face.jpg">
                    <span>Очень выжный и занимательный заголовок</span>
                </div>
                <p>
                    Решение ряда СМИ о бойкоте освещения деятельности Госдумы - это их компетенция и их право, также
                    заявил спикер нижней палаты Вячеслав Володин. "Для меня неправильно оценивать решение редакций и
                    издательств. Это их компетенция... это их право", - сказал он (цитата по ТАСС). Депутат добавил, что
                    Госдума - самый открытый орган власти, в стенах которого аккредитован 1001 журналист.
                </p>
                <p>
                    "Мы открыты для диалога и взаимодействия", - отметил спикер. "Мы строим свою работу на принципах
                    открытости, гласности. Вы видите, что мы можем с вами в постоянном режиме обсуждать все вопросы", -
                    добавил он, подчеркнув, что с уважением относится к праву редакций, которые определяют, кому
                    работать в Госдуме.
                </p>
            </div>

            <div class="news">
                <div class="news-header">
                    <img src="../static/face.jpg">
                    <span>Очень выжный и занимательный заголовок</span>
                </div>
                <p>
                    Решение ряда СМИ о бойкоте освещения деятельности Госдумы - это их компетенция и их право, также
                    заявил спикер нижней палаты Вячеслав Володин. "Для меня неправильно оценивать решение редакций и
                    издательств. Это их компетенция... это их право", - сказал он (цитата по ТАСС). Депутат добавил, что
                    Госдума - самый открытый орган власти, в стенах которого аккредитован 1001 журналист.
                </p>
                <p>
                    "Мы открыты для диалога и взаимодействия", - отметил спикер. "Мы строим свою работу на принципах
                    открытости, гласности. Вы видите, что мы можем с вами в постоянном режиме обсуждать все вопросы", -
                    добавил он, подчеркнув, что с уважением относится к праву редакций, которые определяют, кому
                    работать в Госдуме.
                </p>
            </div>

            <div class="news">
                <div class="news-header">
                    <img src="../static/face.jpg">
                    <span>Очень выжный и занимательный заголовок</span>
                </div>
                <p>
                    Решение ряда СМИ о бойкоте освещения деятельности Госдумы - это их компетенция и их право, также
                    заявил спикер нижней палаты Вячеслав Володин. "Для меня неправильно оценивать решение редакций и
                    издательств. Это их компетенция... это их право", - сказал он (цитата по ТАСС). Депутат добавил, что
                    Госдума - самый открытый орган власти, в стенах которого аккредитован 1001 журналист.
                </p>
                <p>
                    "Мы открыты для диалога и взаимодействия", - отметил спикер. "Мы строим свою работу на принципах
                    открытости, гласности. Вы видите, что мы можем с вами в постоянном режиме обсуждать все вопросы", -
                    добавил он, подчеркнув, что с уважением относится к праву редакций, которые определяют, кому
                    работать в Госдуме.
                </p>
            </div>

            <div class="news">
                <div class="news-header">
                    <img src="../static/face.jpg">
                    <span>Очень выжный и занимательный заголовок</span>
                </div>
                <p>
                    Решение ряда СМИ о бойкоте освещения деятельности Госдумы - это их компетенция и их право, также
                    заявил спикер нижней палаты Вячеслав Володин. "Для меня неправильно оценивать решение редакций и
                    издательств. Это их компетенция... это их право", - сказал он (цитата по ТАСС). Депутат добавил, что
                    Госдума - самый открытый орган власти, в стенах которого аккредитован 1001 журналист.
                </p>
                <p>
                    "Мы открыты для диалога и взаимодействия", - отметил спикер. "Мы строим свою работу на принципах
                    открытости, гласности. Вы видите, что мы можем с вами в постоянном режиме обсуждать все вопросы", -
                    добавил он, подчеркнув, что с уважением относится к праву редакций, которые определяют, кому
                    работать в Госдуме.
                </p>
            </div>

            <div class="news">
                <div class="news-header">
                    <img src="../static/face.jpg">
                    <span>Очень выжный и занимательный заголовок</span>
                </div>
                <p>
                    Решение ряда СМИ о бойкоте освещения деятельности Госдумы - это их компетенция и их право, также
                    заявил спикер нижней палаты Вячеслав Володин. "Для меня неправильно оценивать решение редакций и
                    издательств. Это их компетенция... это их право", - сказал он (цитата по ТАСС). Депутат добавил, что
                    Госдума - самый открытый орган власти, в стенах которого аккредитован 1001 журналист.
                </p>
                <p>
                    "Мы открыты для диалога и взаимодействия", - отметил спикер. "Мы строим свою работу на принципах
                    открытости, гласности. Вы видите, что мы можем с вами в постоянном режиме обсуждать все вопросы", -
                    добавил он, подчеркнув, что с уважением относится к праву редакций, которые определяют, кому
                    работать в Госдуме.
                </p>
            </div>

            <div class="news">
                <div class="news-header">
                    <img src="../static/face.jpg">
                    <span>Очень выжный и занимательный заголовок</span>
                </div>
                <p>
                    Решение ряда СМИ о бойкоте освещения деятельности Госдумы - это их компетенция и их право, также
                    заявил спикер нижней палаты Вячеслав Володин. "Для меня неправильно оценивать решение редакций и
                    издательств. Это их компетенция... это их право", - сказал он (цитата по ТАСС). Депутат добавил, что
                    Госдума - самый открытый орган власти, в стенах которого аккредитован 1001 журналист.
                </p>
                <p>
                    "Мы открыты для диалога и взаимодействия", - отметил спикер. "Мы строим свою работу на принципах
                    открытости, гласности. Вы видите, что мы можем с вами в постоянном режиме обсуждать все вопросы", -
                    добавил он, подчеркнув, что с уважением относится к праву редакций, которые определяют, кому
                    работать в Госдуме.
                </p>
            </div>

        </div>
    </main>

</div>

</body>
</html>