<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vk - all users</title>
    <link rel="stylesheet" href="../src/style.css">
</head>
<body>
<div class="base-container base-container-with-info">
    <!-- Header -->
    <div class="left-header header-color"></div>
    <div class="nav-header header-color ">Header</div>
    <header class="header header-color ">Main Header</header>
    <div class="right-header header-color"></div>

    <!-- Site navigation -->
    <nav class="nav">
        <ul>
            <a href="register.html">
                <li>Sign up</li>
            </a>
            <a href="login.html">
                <li>Sign in</li>
            </a>
        </ul>
    </nav>

    <!-- Profile news -->
    <main class="main">
        <div class="news-container">
            <form class="form">
                <label for="email">Email</label>
                <input type="email" id="email" required/>

                <label for="password">Password</label>
                <input type="password" id="password" required/>

                <label for="name">Name</label>
                <input type="text" id="name" required/>

                <label for="birthday">Birthday</label>
                <input type="date" id="birthday" required/>

                <input type="submit" value="Register"/>

            </form>
        </div>
    </main>

</div>

</body>
</html>