header {
    display: flex;
    background: steelblue;
    align-items: baseline;
}

header .logo {
    font-size: 20px;
    flex-grow: 5;
    color: white;
    margin-left: 2%;
}

header .header-menu {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

header .header-menu a {
    display: flex;
    color: white;
    margin: 5%;
    border: 2px solid white;
    width: 90%;
    padding: 5px;
    text-decoration: none;
    padding-left: 3%;
}
