.main-area {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    min-height: 88vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 40;
    background: aliceblue;
}

.all-user-info {
    display: flex;
    flex-direction: row;
}
