.create-post {
    width: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fff325;
    border: #DFD5F5 solid 1px;
    padding: 7px;
    margin-bottom: 10px;
}

.create-post__image-preview {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #602f6b;
    border-radius: 7px;
}

.create-post-hidden {
    width: 700px;
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
}

.create-post__submit {
    align-self: flex-end;
    margin-top: 5px;
    height: 30px;
    text-align: center;
    background-color: #602f6b;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 14pt;
    font-weight: 600;
    cursor: pointer;
}

input,
textarea {
    outline: none;
    font-size: 12pt;
}

textarea {
    resize: none;
}

.button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

.upload-image>input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.create-post__bottom {
    display: flex;
    justify-content: space-between;
}

.upload-image__icon {
    position: relative;
    top: 3px;
    height: 36px;
    width: 36px;
    pointer-events: none;
}

.upload-image__label {
    display: inline-block;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.create-post__textatea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    /* margin: 15px; */
    font-size: 14pt;
    color: grey;
    border-radius: 10px;
}