.header {
    z-index: 100;
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: #602f6b;
    font-size: 18pt;
}

.header__container {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #602f6b;
    color: white;
    font-size: 18pt;
}

.header__logo {
    margin-left: 15px;    
    font-weight: 700;
}

a.header__logo {
    color: inherit;
    text-decoration: inherit;
}

a.header__logo:hover {
    color: #fff325;
}

.header__user-image {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.header__signout-button {
    font-size: 14pt;
    color: inherit;
}

.header__signout-button:hover {
    color: #fff325;
    cursor: pointer;
}

.header__right {
    display: flex;
    align-items: center;
}

@media (max-width: 1240px) {
    .header__container {
        width: 100%;
    }
}