.user-list {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px auto 0px auto;
}

@media (max-width: 920px) {
    .user-list {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 500px) {
    .user-list {
        grid-template-columns: auto;
    }
}