.main {
    margin-left: 150px;
    padding: 0 10px;
}

.add_post_form {
    width: 300px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.flex_row {
    flex: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

input[type=button], input[type=submit] {
    width: 100%;
    background-color: #513D7A;
    box-sizing: border-box;
    color: white;
    border: 1px solid #513D7A;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    width: 100%;
}