input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type=checkbox] {
    padding: 10px 20px;
    margin: 5px
}

input[type=button], input[type=submit] {
    width: 100%;
    background-color: #513D7A;
    box-sizing: border-box;
    color: white;
    border: 1px solid #513D7A;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
}

.sign_form {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.flex_row {
    flex: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}