.userList {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.userInList {
  margin: 10px;
}

.userInList:hover {
  cursor: pointer;
}

.userInList img {
  object-fit: cover;
  height: 150px;
  width: 150px
}

.userInList p {
  width: 100%;
  text-align: center;
  margin: 0;
}