body {
    background-color: #DFD5F5;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.body-container {
    margin: 50px auto 0px auto;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Profile */

.profile {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: stretch;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 10px;
    width: 300px;
    background-color: white;
}

.profile__top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.profile__image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border: #602f6b solid 5px;
    border-radius: 80px;
    margin: 10px;
}

.profile__name {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18pt;
    font-weight: 700;
}

.profile__nick {
    margin-top: 0;
    color: grey;
    font-weight: 700;
}

.profile__bottom {
    padding-left: 15px;
    padding-right: 15px;
}

/* User statistics */

.user-statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-statistics__label {
    color: grey;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

.user-statistics__number {
    color: #602f6b;
    font-weight: 700;
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 600px;
}

.main-container {
    margin-top: 10px;
}

.right-fake {
    content: "";
    width: 300px;
    margin-right: auto;
}

.post-list {
    width: 600px;
    box-sizing: border-box;
}

.post {
    background-color: white;
    border: #DFD5F5 solid 1px;
}

.post__container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.post__user-image {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-right: 10px;
}

.post__content {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.post__image {
    margin-top: 10px;
    width: 500px;
    border-radius: 5px;
}

.post__user-name {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14pt;
    font-weight: 600;
}

.post__user-nick {
    margin-top: 0;
    font-size: 14pt;
    color: grey;
}

@media (max-width: 1200px) {
    .header__container {
        width: 100%;
    }
    .header__post-button {
        margin-right: 15px;
    }
    .header__logo {
        margin-left: 15px;
    }
    .profile {
        margin-left: 10px;
    }
}