body {
    background-color: #DFD5F5;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.body-container {
    margin: 50px auto 0px auto;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main-container {
    margin-top: 10px;
}

.right-fake {
    content: "";
    width: 300px;
    margin-right: auto;
}

.post__container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.post__user-image {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .page-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 1200px) {
    .profile {
        margin-left: 10px;
    }
}