.fields {
  display: flex;
  justify-content: flex-start;
}

.avatar {
  margin-right: 30px;
}

.avatar img {
  width: 150px;
  height: 150px;
  border: 1px #545255 solid;
  box-shadow: 0 0 3px #545255;
  border-radius: 100px;
}

.miniavatar {
  margin-right: 30px;
}

.miniavatar img {
  width: 50px;
  height: 50px;
  border: 1px #545255 solid;
  box-shadow: 0 0 3px #545255;
  border-radius: 50px;
}

.fields span {
  padding: 2px 5px;
}

.infoBlock {
  display: flex;
  justify-content: flex-start;
}

.infoBlock span, .but{
  margin-right: 10px;
}

.infoText {
  margin-top: 20px;
}

.buttons {
  margin-top: 20px;
}

.post {
  margin-top: 20px;
  font-size: 15px;
}

.post .info {
  font-size: 12px;
}

.post .text {
  margin: 20px;
}

.text img {
  display: block;
  width: 100%;
  max-width: 400px;
  border: 1px #545255 solid;
  margin-bottom: 10px;
}

.text span {
  display: block;
}

.active {
  color: #000;
}

.fields button {
  margin-top: 10px;
  color: #545255;
  background: none;
  border: 1px rgba(170, 170, 170, 0.51) solid;
  box-shadow: 0px 0px 1px rgba(158, 154, 160, 0.5);
  font-family: 'Circe-Light';
  height: 30px;
  width: 50%;
}

.minibut {
  width: 30px;
  height: 30px;
  border: 1px #545255 solid;
  box-shadow: 0 0 3px #545255;
  border-radius: 80px;

}

.cancel {
  background-image: url("../../icons/error.png");
  background-size: 32px 32px;
  background-position: center;
}

.add {
  background-image: url("../../icons/add.png");
  background-size: 32px 32px;
  background-position: center;
}

.photo {
  background-image: url("../../icons/photocamera.png");
  background-size: 29px 29px;
  background-position: center;
}

.done {
  background-image: url("../../icons/tick.png");
  background-size: 32px 32px;
  background-position: center;
}

.minibuttons {
  display: flex;
  justify-content: flex-start;
}

.minibuttons div {
  margin-right: 20px;
}

.newPost textarea {
  margin: 10px 0px;
  height: 60px;
  width: 100%;
  border: 1px #545255 solid;
  box-shadow: 0 0 3px #545255;
}

.newImg {
  margin-right: 20px;
  color: #545255;
  background: none;
  border: 1px rgba(170, 170, 170, 0.51) solid;
  box-shadow: 0px 0px 1px rgba(158, 154, 160, 0.5);
  font-family: 'Circe-Light';
  height: 20px;
  display: flex;
  flex-direction: column;
}
