html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    background-color: #292722;
    font-family: "Frutiger", "Open Sans", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    color: #d3cbbf;
}

a {
    text-decoration: none;
    color: #d3cbbf;
}

@font-face {
    font-family: 'Frutiger';
    src: url(fonts/frutiger.ttf);
}

@font-face {
    font-family: 'Frutiger Light';
    src: url(fonts/frutiger_light.ttf);
}

.global-header {
    background-color: rgba(48,48,48,0.8);
    padding: 0.3em 1em;
    border-radius: 0.3em;
}

.global-avatar {
    overflow: hidden;
    border-radius: 50%;
}

.global-text {
    font-family: "Frutiger Light", "Open Sans", Arial, sans-serif;
}


br {
    clear: both;
}

.content {
    padding: 2em 8em 3em;
    margin: 0 auto;
}

.global-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feed {
    margin: 0 auto;
}

.global-error {
    color: #b0382b;
}

.global-info {
    display: block;
    margin: 3em auto;
    text-align: center;
    font-size: 1.4em;
    padding: 0.5em;
}

.global-info-inline {
    display: block;
    margin-top: 0.9em;
}
