.header {
    padding: 1em 8em;
    background-color: #313131;
}

.header-title {
    font-size: 1.5em;
    float: left;
}

.header-logout {
    font-size: 1em;
    float: right;
    margin-top: 0.5em;
    margin-right: 1em;
    cursor: pointer;
}
