body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --main-text-font-family: 'Open Sans', sans-serif;
    --main-headers-font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper {
    font-family: var(--main-text-font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h3, h4 {
    margin: 5px 0;
}