body {
    background-color: #DFD5F5;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Header */

.header {
    z-index: 100;
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: #602f6b;
    font-size: 18pt;
}

.header__container {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #602f6b;
    color: white;
    font-size: 18pt;
}

.header__logo {
    flex-grow: 1;
    font-weight: 700;
}

.header__post-button {
    width: 70px;
    height: 30px;
    text-align: center;
    background-color: #fff325;
    color: #602f6b;
    border-radius: 10px;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
}

/* Profile */

.profile {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: stretch;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 10px;
    width: 300px;
    background-color: white;
}

.profile__top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.profile__image {
    width: 80px;
    height: 80px;
    border: #602f6b solid 5px;
    border-radius: 80px;
    margin: 10px;
}

.profile__name {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18pt;
    font-weight: 700;
}

.profile__nick {
    margin-top: 0;
    color: grey;
    font-weight: 700;
}

.profile__bottom {
    padding-left: 15px;
    padding-right: 15px;
}

/* User statistics */

.user-statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-statistics__label {
    color: grey;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

.user-statistics__number {
    color: #602f6b;
    font-weight: 700;
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 600px;
}

.right-fake {
    content: "";
    width: 300px;
    margin-right: auto;
}

/* Create post */

.create-post {
    display: flex;
    flex-direction: column;
    background-color: #fff325;
    border: #DFD5F5 solid 1px;
    padding: 7px;
    margin-bottom: 10px;
}

.create-post-hidden {
    width: 700px;
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
}

.create-post__submit {
    align-self: flex-end;
    margin-top: 5px;
    height: 30px;
    text-align: center;
    background-color: #602f6b;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 14pt;
    font-weight: 600;
    cursor: pointer;
}

input,
textarea {
    outline: none;
    font-size: 12pt;
}

textarea {
    resize: none;
}

.button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

.upload-image>input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.create-post__bottom {
    display: flex;
    justify-content: space-between;
}

.upload-image__icon {
    position: relative;
    top: 3px;
    height: 36px;
    width: 36px;
}

.upload-image__label {
    display: inline-block;
    height: 36px;
    width: 36px;
    cursor: pointer;    
}

.create-post__textatea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    /* margin: 15px; */
    font-size: 14pt;
    color: grey;
    border-radius: 10px;
}

.post {
    background-color: white;
    border: #DFD5F5 solid 1px;
}

.post__container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.post__user-image {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-right: 10px;
}

.post__content {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.post__image {
    margin-top: 10px;
    width: 500px;
    border-radius: 5px;
}

.post__user-name {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14pt;
    font-weight: 600;
}

.post__user-nick {
    margin-top: 0;
    font-size: 14pt;
    color: grey;
}

@media (max-width: 1200px) {
    .header__container {
        width: 100%;
    }
    .header__post-button {
        margin-right: 15px;
    }
    .header__logo {
        margin-left: 15px;
    }
    .profile {
        margin-left: 10px;
    }
}